@import "tailwindcss";

* {
    font-family: 'Bitcount Grid Single', system-ui;
}

html {
    color-scheme: dark;
}

.footer {
    background: #181818;
}

.tstack img:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

::selection {
    background: #404040;
    color: #fff;
}

.scrollable{
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.sayhibtn {
    background: #ffffff1d;
    backdrop-filter: blur(0);
    opacity: 0;
    animation: fade 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#links:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

.fadeclass {
    opacity: 0;
    animation: fade 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.offline {
    background: #181818;
    backdrop-filter: blur(20px);
}

@keyframes fade {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}