@import "tailwindcss";

* {
    font-family: 'Bitcount Grid Single', system-ui;
}

html {
    color-scheme: dark;
}

.scrollable{
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.iteractives {
    box-shadow: 2px 2px 50px #000;
}