    @import url(../body/Body.css);
    
    #header-title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 20px;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    animation: fade 0.4s ease-in-out;
}

#name {
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 5px;
}
  
#socials {
    margin-left: 900px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#twitter:hover, #linkedin:hover, #message:hover {
    color: blueviolet;
    transform: scale(1.5);
    transition: all 0.1s ease-in-out;
}

body.light-mode {
  background: #fff;
  color: #181818;
  --project-bg: #fff;
  --project-border: #e0e0e0;
  --project-text: #181818;
  --footer-bg: #F2F0EF;
  --about-opacity: 0.9;
}

body.dark-mode {
  background: #181818;
  color: #fff;
  --project-bg: #121212;
  --project-border: #3b3b3b;
  --project-text: #fff;
  --button: purple;
  --button-text: #fff;
  --footer-bg: #121212;
  --about-opacity: 0.5;
}

#header-title svg,
#header-title a,
#header-title #name {
  color: inherit;
}

@media (prefers-color-scheme: light) {
    a {
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    a {
        color: #fff;
    }
}