#header-title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 20px;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

#name {
    font-size: 25px;
    margin-left: 10px;
}
  
#socials {
    margin-left: 900px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#twitter:hover, #linkedin:hover, #message:hover {
    color: blueviolet;
    transform: scale(1.5);
    transition: all 0.1s ease-in-out;
}