#fractal-tree {
    padding-bottom: 20px;
}

#fractal-tree .p5Canvas {
    width: 250px !important;
    height: 250px !important;
}

@media only screen and (max-width: 600px) {
    #fractal-tree .p5Canvas {
        width: 200px !important;
        height: 200px !important;
    }
}