@media (max-width: 600px) {
  #header-title {
    flex-wrap: nowrap !important;      
    flex-direction: row !important;    
    align-items: center !important;
    gap: 8px;                          
    min-width: 0; 
    margin-bottom: 0%;                     
  }

  #name {
    font-size: 16px !important; 
    margin: 0px !important;
    margin-top: 2px !important;    
    white-space: nowrap;              
    
    text-overflow: ellipsis;
    max-width: 120px;                
  }

  #header-title a, #header-title svg {
    width: 30px !important;            
    height: 30px !important;
  }

  #socials {
    margin-left: 120px !important;
  }

  #Hi-statement {
    margin: 0 !important;
  }

  #Hi-statement span {
    font-size: 30px;
  }

  #typewriter-text p {
    font-size: 14px;
  }

  .project-title, .about-title, .contact-title {
    margin-top: 300px;
    margin-left: 20px !important;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  #projects {
    margin-left: 30px !important;
    width: 300px !important;
  }

  #about {
    margin: 5px auto !important;
    padding: 40px !important;
    font-size: 15px !important;
  }

  #about-txt {
    text-align: left;
    overflow-wrap: break-word;
    width: 300px;
  }

  #contact {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    padding: 30px;
    gap: 10px !important;
  }

  #button {
    width: 80px !important;
  }

  #footer-text {
    font-size: 12px;
  }
} 